@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');

body{
    margin: 0;
    /* min-height: 100vh; */
    
    
}
 

/* -------------------------------my heander start here---------------------------------------- */


header{
    display: flex;
    background-color: gray;
    height: 100px;
    width: 100%;
}

.search-type{
    font-size: 24px;
    margin: auto;
    padding: 15 20px;
}
input{
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightblue;
    border: none;
}
label{
    color: blue;
    font-size: 25px;
    margin-top: 22px;
    margin-right: 7px;
}
.Register{
    margin-top: 20px;
    margin-right: 7px;
}


/* ----------------------------------my header ends here------------------------------------------------ */


 

/* -------------------------------------my main-content start here------------------------------------------- */
.main-container{
    display: flex; 
    background: radial-gradient(blue, yellow, black, black);
    

}
.main-image{
    background: linear-gradient(black, yellow);
    flex-basis: 85%;
    margin-bottom: 20px;
    
}

.content{
    display: flex;
    background: radial-gradient(yellow, black, black, gray);
     align-items: center;
     justify-content: center;
     margin-top: 0;
    
}
.log{
    position: relative;
    display: inline;
    text-align: start;
}




/* ----------------------------------------my sidebar start here------------------------------------------------ */


.sidebar{
    background-color: black;
    box-shadow: 3px 3px 4px 3px gray;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    flex-basis: 15%;
    margin-bottom: 20px;
    margin-left: 0px;
    
}
.sidebar ul li{
    margin: 0px;
    padding: 1.2rem 0rem;
    list-style-type: none;

}

.sidebar ul li a{
    font-size: 15px;
    list-style-type: none;
    text-decoration: none;
    color: yellow;
}


.sidebar ul li:hover a{
    color: red;
    overflow: hidden;
    
}

.fa-solid{
    padding-right: 3px;
 
}



li{
    list-style-type: none;
}
/* 
.fa-regular{

} */

/* -----------------------------------------------my sidebar end here------------------------------------------ */


/* --------------------------------main-content area start here----------------------------------------------- */

.property{
    font-weight: 30px;
    border: 25px;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 20px;
    display: block;
    justify-content: center;
    margin: 15 20px;
    box-sizing: 0;
    border-radius: 15px;
}
.work{
    color: white;
    text-align: center;
    font-family: cursive;
    text-decoration: wavy;
}


/* style for agents here */
.Agent{
    background: linear-gradient(blue, gray);
    margin: 0;
    padding: 20px;
}
.Agent h1,p{
    text-align: center;
    color: white;
}
.flex{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}
.flex .sep{
    color: white;
    text-align: center;
    font-weight: bolder;
}
.flex-container{
    background: linear-gradient(bisque, white);
    border: none;
    margin-top: 0;
    box-sizing: border-box;

}
.senta{
    width: 60%;
    margin: auto;
    font-weight: bolder;
    font-size: 20px;
    box-sizing: border-box;
}
.rounded{
    background-color: #000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    
}




/* -----------------------start footer styles---------------------------------------------------- */


footer {
 margin: auto;
   padding: 3rem 10rem;
   max-width: 80rem;
   background-color: #000;
}

.quick-links {
   display: flex;
   list-style: none;
   gap: 3px;
   justify-content: space-between;
   margin: 15px -10px;
}

.footer-area{
   display: grid;
   grid-template-columns: 300px 1fr 1fr 1fr;
   justify-content: space-around;
   margin-top: 100px;
}

.footer-info ul {
   list-style: none;
   text-align: left;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: #d7d7d7;
}

.footer-subscribe{
   display: flex;
   justify-content: space-between;

} 
.space{
    margin: 0;
    padding: 50px 0px;
    font-weight: bolder;
    letter-spacing: 3px;
} 

/* ----------------------------footer design end here------------------------------------------ */


/* Designs for mobile responsiveness */
@media (max-width:740px) {
    /* for header */
    .search-type {
            font-size: 15px;
            margin: auto;
            padding: 10 15px;
        }
    
        input {
            width: 130px;
            padding: 7px;
            border-radius: 10px;
            background-color: lightblue;
            border: none;
        }
    
        label {
            color: blue;
            font-size: 17px;
            margin-top: 39px;
            margin-right: 7px;
        }
    
        .Register {
            margin-top: 35px;
            margin-right: 7px;
        }
        .head{
            font-size: 20px;
            text-align: center;
        }
        .space {
            margin: 0;
            padding: 25px 0px;
            font-weight: bold;
            letter-spacing: 1.5px;
            font-size: 11px;
            }
            .property {
                font-weight: 20px;
                border: 25px;
                font-size: 30px;
                color: white;
                text-align: center;
                padding: 10px;
                display: block;
                justify-content: center;
                margin: 7px 20px;
                box-sizing: 0;
                border-radius: 15px;
            }
            .senta {
            width: 60%;
            margin: auto;
            font-weight: bolder;
            font-size:13px;
            box-sizing: border-box;
            }

            .rounded {
            background-color: #000;
            color: white;
            padding: 3px;
            border-radius: 5px;
            margin-bottom: 2px;

            }
            footer {
                margin: auto;
                padding: 1.5rem 7rem;
                max-width: 100rem;
                background-color: #000;
            }

            .quick-links {
                font-size: 12px;
                display: flex;
                list-style: none;
                gap: 2px;
                justify-content: space-between;
                margin: 10px -5px;
            }

            .footer-area {
                display: grid;
                grid-template-columns: 230px 1fr 1fr 1fr;
                justify-content: space-around;
                margin-top: 100px;
            }
            .footer-info{
                font-size: 11px;
            }

            .footer-info ul {
                list-style: none;
                text-align: left;
            }

            li {
                list-style: none;
            }

            a {
                text-decoration: none;
                color: #d7d7d7;
            }

            .footer-subscribe {
                display: flex;
                justify-content: space-between;

            }

            .space {
                margin: 0;
                padding: 30px 0px;
                font-weight: bolder;
                letter-spacing: 1.5px;
            }

}

@media (max-width:565px) {

    /* for header */
    .search-type {
        font-size: 10px;
        margin: auto;
        padding: 6 10px;
    }

    input {
        width: 80px;
        padding: 4px;
        border-radius: 10px;
        background-color: lightblue;
        border: none;
    }

    label {
        color: blue;
        font-size: 12px;
        margin-top: 39px;
        margin-right: 7px;
    }

    .Register {
        margin-top: 35px;
        margin-right: 7px;
    }

    .head {
        font-size: 15px;
        text-align: center;
    }

    .space {
        margin: 0;
        padding: 15px 0px;
        font-weight: bold;
        letter-spacing: 1.0px;
        font-size: 7px;
    }

    .property {
        font-weight: 20px;
        border: 25px;
        font-size: 30px;
        color: white;
        text-align: center;
        padding: 10px;
        display: block;
        justify-content: center;
        margin: 7px 20px;
        box-sizing: 0;
        border-radius: 15px;
    }

    .senta {
        width: 60%;
        margin: auto;
        font-weight: bolder;
        font-size: 13px;
        box-sizing: border-box;
    }

    .rounded {
        background-color: #000;
        color: white;
        padding: 2px;
        border-radius: 5px;
        margin-bottom: 2px;
        font-size: 7px;

    }

    footer {
        margin: auto;
        padding: 1.0rem 4rem;
        max-width: 100rem;
        background-color: #000;
    }

    .quick-links {
        font-size: 10px;
        display: flex;
        list-style: none;
        gap: 1px;
        justify-content: space-between;
        margin: 5px -1px;
    }

    .footer-area {
        display: grid;
        grid-template-columns:150px 1fr 1fr 1fr;
        justify-content: space-around;
        margin-top: 100px;
    }

    .footer-info {
        font-size: 7px;
    }

    .footer-info ul {
        list-style: none;
        text-align: left;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #d7d7d7;
    }

    .footer-subscribe {
        display: flex;
        justify-content: space-between;

    }

    .space {
        margin: 0;
        padding: 20px 0px;
        font-weight: bolder;
        letter-spacing: 1.5px;
    }

}